@import url('https://fonts.googleapis.com/css2?family=Courgette&family=New+Rocker&display=swap');



/* carousel */
#carousel{
  box-shadow: 0 1rem 1rem rgba(0, 0, .1);
}
.carousel-inner{
  max-height: 38rem !important;
}

.carousel-caption{
  position: absolute;
  top: 60%;
  align-items: flex-start;
  transform: translateY(-50%);
  text-transform: capitalize;
}
.outer{
  min-width: 60%;
  height: 70%; 
  display: grid;
  place-items: center;
} 
.bg-custom{
  background-color: rgba(0, 0, 0, .4);
  color: white;
  border-radius: 1rem;
}
.carousel-caption h5{
  font-family: 'Courgette', cursive;
  font-size: 2.8rem;
  text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, .1);
}
.border-primary{
  border-top: 0.1rem solid #4981b3!important;
}
.carousel-caption p{
  font-family: 'Courgette', cursive;
  font-size: 2.2rem;
  text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, .1);
}
.btn-lg{
  border-radius: 0;
  font-size: 1rem;
  border-width: medium;
}
.btn-info{
  background-color: rgb(235, 21, 206);
  border: .05rem solid #fff;
}
.btn-success{
  background-color: rgba(103, 46, 209, 0.76);
  border: .05rem solid #fff;
}
.btn-info:hover,
.btn-info:focus{
  background-color: rgb(238, 174, 229)!important;
  border: .05rem solid #fff;
}
.btn-success:hover,
.btn-success:focus{
  background-color: rgba(201, 183, 235, 0.76)!important;
  border: .05rem solid #fff;
}
